body {
    padding: 8px;
}
header {
    height: 6%;
}
#content {
    height: 88%;
    overflow: auto;
}
footer {
    height: 3%;
    margin-top: 10px;
}
nav {
    font-size: 20px;
}
nav a {
    padding: 3px 5px 2px 5px;
    display: inline-block;
    text-align: center;
    width: 120px;
    text-decoration: none;
    color: #551A8B;
    background-color: #ddd;
}

