<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ STATIC_URL }}global.css" rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blogapp/posts">Blog</a>
      <a href="/contact">Contact Us</a>
    </nav>
  </header>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
  <footer>
    <a href="http://www.djangoproject.com/">
      <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif"
           border="0" alt="Made with Django!" title="Made with Django!" />
    </a>
  </footer>
</body>
</html>
